@import "../../../../styles/colors";

.button-bar {
  margin-bottom: 0.5rem;
}

/*
.main-data {
  position: relative;
  .data-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}*/

mat-form-field {
  margin-right: 12px;
}